.degree_symbol:not(:empty)::after {
    content: "°"
}

#zip{
    font-family: helvetica neue;
    font-style: regular;
    font-size: .8em;
}
input{
    height: 35px;
    background-color: #3D4163;
    width: 100%;
}

body{
    background-image: linear-gradient(#EBFFE8, transparent);
}

.current{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin-bottom: 5em;
}

.today{
    color: #3D4163;
    font-size: 2.7em;
    font-family: Alternate Gothic No2 D;
    font-style: regular;
    text-align: right;
    padding-right: 3em;
    padding-top: 1em;
    text-transform: uppercase;
}

.seattle{
    color: #3D4163;
    font-size: 2.7em;
    font-family: Alternate Gothic No2 D;
    text-transform: uppercase;
    text-align: left;
    padding-left: 2.7em;
    padding-top: 1em;
}

.temp{
    display: grid;
    background-color:#3D4163;
    width: 35%; 
    height: 20%;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    padding-top: 70px;
    padding-bottom: 70px;
}

.left{
    text-align: center;
    font-family: helvetica neue;
    font-style: bold;
    font-size: 5em;
    color: white;
}


.left .feelslike{  
    font-style: light;
    font-size: .2em;
    display: block;
}

.left .percent{
    font-style: light;
    font-size: .3em;
    display: block;
}

.icon01d{
    text-align: center;
    font-family: Alternate Gothic No2 D;
    font-style: regular;
    font-size: 2.7em;
    color: white;
    background-image: url("/01d.png");
    background-repeat: none;
    background-size: contain;
    background-position: center;
    width: 180px;
    height: 180px;
}

.fiveday{
    width: 85%;
    background-color: #39A2AE;
    margin: auto;
    margin-top: 4em;
    font-size: 2em;
    font-family: Alternate Gothic No2 D;
    color: #3D4163;
    padding: 40px 40px 0px 40px;
}

.forecast{
    width: 85%;
    background-color:#39A2AE;
    margin: auto; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 4em;
    padding: 10px 40px 0px 40px;
    text-transform: uppercase;
}

.monday{
    background-color: #39A2AE;
    color: #EBFFE8;
    font-family:Alternate Gothic No2 D;
    font-style: regular; 
    font-size: 1.5em;
    margin-top: 1em;
    text-align: center;
}

.icon1{
    background-color: #3D4163;
    font-size: 5em;
}

.info1{
    background-color:#3D4163;
    font-size: 5em; 
    text-align: center;
}

.tuesday{
    background-color: #39A2AE;
    color: #EBFFE8;
    font-family:Alternate Gothic No2 D;
    font-style: regular; 
    font-size: 1.5em;
    margin-top: 1em;
    text-align: center;
}

.icon2{
    background-color: #3D4163;
    font-size: 5em;
}

.info2{
    background-color:#3D4163;
    font-size: 5em; 
    text-align: center;
}

.wednesday{
    background-color: #39A2AE;
    color: #EBFFE8;
    font-family:Alternate Gothic No2 D;
    font-style: regular; 
    font-size: 1.5em;
    margin-top: 1em;
    text-align: center;
}

.icon3{
    background-color: #3D4163;
    font-size: 5em;
}

.info3{
    background-color:#3D4163;
    font-size: 5em; 
    text-align: center;
}

.thursday{
    background-color: #39A2AE;
    color: #EBFFE8;
    font-family:Alternate Gothic No2 D;
    font-style: regular; 
    font-size: 1.5em;
    margin-top: 1em;
    text-align: center;
}

.icon4{
    background-color: #3D4163;
    font-size: 5em;
}

.info4{
    background-color:#3D4163;
    font-size: 5em; 
    text-align: center;
}

.friday{
    background-color: #39A2AE;
    color: #EBFFE8;
    font-family:Alternate Gothic No2 D;
    font-style: regular; 
    font-size: 1.5em;
    margin-top: 1em;
    text-align: center;
}

.icon5{
    background-color: #3D4163;
    font-size: 5em;
}

.info5{
    background-color:#3D4163;
    font-size: 5em; 
    text-align: center;
}

.forecastinfo{
    width: 85%;
    background-color:#39A2AE;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 4em;
    padding: 0px 40px 0px 40px;
    color: #EBFFE8;
    font-family:Alternate Gothic No2 D;
}

.precipinfo{
    width: 85%;
    background-color:#39A2AE;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 4em;
    padding: 0px 40px 40px 40px;
    color: #EBFFE8;
    font-family:Alternate Gothic No2 D;
}

.precip1{
    background-color:#3D4163;
    font-size: 3em; 
    text-align: center;
}

.precip2{
    background-color:#3D4163;
    font-size: 3em; 
    text-align: center;
}

.precip3{
    background-color:#3D4163;
    font-size: 3em; 
    text-align: center;
}

.precip4{
    background-color:#3D4163;
    font-size: 3em; 
    text-align: center;
}

.precip5{
    background-color:#3D4163;
    font-size: 3em; 
    text-align: center;
}

.radar{
    display: grid;
    grid-template-columns: 2fr .6fr;
    grid-column-gap: 2em;
    width: calc(85vw + 80px);
    margin: auto;
    margin-top: 50px;
    margin-bottom: 10px;
    padding-top: 10px;
}

.radarmaps{
    color: #EBFFE8;
    font-size: 1.5em;
    font-family:Alternate Gothic No2 D;
    font-style: regular;
    display: grid;
    background-color: #3D4163;
    padding: 15px 20px 15px 20px;
    margin-bottom: 10px;
}

.radarmaps h4{
    margin: 0;
}

#map {
    width: 100%;
    height: 200px;
}

.rightnow{
    color: #EBFFE8;
    font-size: 1.5em;
    font-family:Alternate Gothic No2 D;
    font-style: regular;
    display: grid;
    background-color: #3D4163;
    padding: 15px 20px 15px 20px;
    text-align: left;
    margin-bottom: 10px;
}

.rightnow h4{
    margin: 0;
}

.values{
    display: grid;
    grid-template-columns: .6fr 1.5fr;
}

.uvindex{
    color: #39A2AE;
    font-size: 1em;
}

.uvinfo{
    font-size: .75em;
    color: #EBFFE8;
}

.dewpoint{
    color: #39A2AE;
    font-size: 1em;
}

.dewpointinfo{
    font-size: .75em;
    color: #EBFFE8;
}

.humidity{
    color: #39A2AE;
    font-size: 1em;
}

.humidityinfo{
    font-size: .75em;
    color: #EBFFE8;
}

.visibility{
    color: #39A2AE;
}

.visibilityinfo{
    font-size: .75em;
    color: #EBFFE8;
}

.wind{
    color: #39A2AE;
    font-size: 1em;
}

.windinfo{
    font-size: .75em;
    color: #EBFFE8;
}

.sunandmoon{
    background-color: #3D4163;
    color: #EBFFE8;
    font-family: Alternate Gothic No2 D;
    width: 89%;
    margin: auto;
    padding: 15px 20px 15px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.5em;
}

.sunandmooninfo{
    display: grid;
    font-family: Alternate Gothic No2 D;
    font-size: 3em;
    color: #EBFFE8;
    background-color: #3D4163;
    width: 89%;
    margin: auto;
    padding: 15px 20px 15px 20px;
    grid-template-columns: 1fr 1fr;
}

.sunicons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
    width: 70%;
    margin: auto;
    height: 120px;
    width: 300px;
}

.sunriseicon{
    background-image: url("/sunrise.png");
    background-repeat: no-repeat; 
    background-position: center;
    background-size: contain;
}

.sunseticon{
    background-image: url("/sunset.png");
    background-repeat: no-repeat; 
    background-position: center;
    background-size: contain;
}

.moonicons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2em;
    width: 70%;
    margin: auto;
    height: 120px;
    width: 300px;
}

.moonriseicon{
    background-image: url("/moonrise.png");
    background-repeat: no-repeat; 
    background-position: center;
    background-size: contain;
}

.moonseticon{
    background-image: url("/moonset.png");
    background-repeat: no-repeat; 
    background-position: center;
    background-size: contain;
}

.sunandmoonvalues{
    display: grid;
    font-family: Alternate Gothic No2 D;
    font-size: 2em;
    color: #EBFFE8;
    background-color: #3D4163;
    width: 89%;
    margin: auto;
    padding: 15px 20px 15px 20px;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.sunvalues{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    margin: auto;
}

.moonvalues{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    margin: auto;
}

.icon{
    max-width: 100px;
    max-height: 100px;
}

.icon-01d{
    background-image: url("/01d.png");
    background-repeat: no-repeat; 
    background-position: center;
    background-size: contain;
    width: 100px;
    height: 100px;
}

.icon-02d{
    background-image: url("/02d.png");
    background-repeat: no-repeat; 
    background-position: center;
    background-size: contain;
    width: 100px;
    height: 100px;
}

.icon-03d{
    background-image: url("/03d.png");
    background-repeat: no-repeat; 
    background-position: center;
    background-size: contain;
    width: 100px;
    height: 100px;
}

.icon-03d{
    background-image: url("/04d.png");
    background-repeat: no-repeat; 
    background-position: center;
    background-size: contain;
    width: 100px;
    height: 100px;
}

.icon-09d{
    background-image: url("/09d.png");
    background-repeat: no-repeat; 
    background-position: center;
    background-size: contain;
    width: 100px;
    height: 100px;
}

.icon-10d{
    background-image: url("/10d.png");
    background-repeat: no-repeat; 
    background-position: center;
    background-size: contain;
    width: 100px;
    height: 100px;
}

.icon-11d{
    background-image: url("/11d.png");
    background-repeat: no-repeat; 
    background-position: center;
    background-size: contain;
    width: 100px;
    height: 100px;
}

.icon-13d{
    background-image: url("/13d.png");
    background-repeat: no-repeat; 
    background-position: center;
    background-size: contain;
    width: 100px;
    height: 100px;
}

.icon-50d{
    background-image: url("/50d.png");
    background-repeat: no-repeat; 
    background-position: center;
    background-size: contain;
    width: 100px;
    height: 100px;
}

.icon-2n{
    background-image: url("/2n.png");
    background-repeat: no-repeat; 
    background-position: center;
    background-size: contain;
    width: 100px;
    height: 100px;
}

.owm-legend-item{
    display: none;
}

